@media screen and (min-width: 1001px) {

  .cartContent {
    display: flex;
    flex-direction: column;
  }

  .cartEmptyPng {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cartEmptyPngImg {
    width: 50%;
  }

  .purchase,
  .booksTotalPrice {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }

  .cartIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 28px;
    left: 3px;
    background-color: rgb(255, 132, 0);
    border-radius: 100%;
    color: white;
    height: 21px;
    width: 21px;
  }

  .conteiner {
    position: relative;
  }

  .booksForOrder {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 20px 20px 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 15px 0px 15px;
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .bookNameCart {
    width: 50%;
  }

  .bookCount {
    width: 40%;
    padding-left: 5%;
  }

  .buttonSubmitCart,
  .buttonSubmitCart:hover {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .buttonSubmitCart {
    border: 1px solid rgb(100, 100, 100);
    transition-duration: 0.3s;
  }

  .buttonSubmitCart:hover {
    transition-duration: 0.3s;
    background-color: #5161f1;
    color: white;
  }

  .buttonSubmitCart:disabled {
    transition-duration: 0.3s;
    background-color: #f2f2f2;
    color: rgb(123, 123, 123);
  }

}

@media screen and (max-width: 1000px) {
  .cartContent {
    display: flex;
    flex-direction: column;
  }

  .cartEmptyPng {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cartEmptyPngImg {
    width: 90%;
  }

  .purchase,
  .booksTotalPrice {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }

  .cartIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 28px;
    left: 3px;
    background-color: rgb(255, 132, 0);
    border-radius: 100%;
    color: white;
    height: 21px;
    width: 21px;
  }

  .conteiner {
    position: relative;
  }

  .booksForOrder {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 20px 20px 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 15px 0px 15px;
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .bookNameCart {
    width: 50%;
  }

  .bookCount {
    width: 40%;
    padding-left: 5%;
  }

  .buttonSubmitCart,
  .buttonSubmitCart:hover {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .buttonSubmitCart {
    border: 1px solid rgb(100, 100, 100);
    transition-duration: 0.3s;
  }

  .buttonSubmitCart:hover {
    transition-duration: 0.3s;
    background-color: #5161f1;
    color: white;
  }

  .buttonSubmitCart:disabled {
    transition-duration: 0.3s;
    background-color: #f2f2f2;
    color: rgb(123, 123, 123);
  }
}

@media screen and (max-width: 320px) {
  .cartContent {
    display: flex;
    flex-direction: column;
  }

  .cartEmptyPng {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cartEmptyPngImg {
    width: 80%;
  }

  .purchase,
  .booksTotalPrice {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }

  .cartIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 28px;
    left: 3px;
    background-color: rgb(255, 132, 0);
    border-radius: 100%;
    color: white;
    height: 21px;
    width: 21px;
  }

  .conteiner {
    position: relative;
  }

  .booksForOrder {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 20px 20px 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 15px 0px 15px;
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .bookNameCart {
    width: 50%;
  }

  .bookCount {
    width: 40%;
    padding-left: 5%;
  }
}