.app {
  font: small-caps 17px/1 sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a:link {
  text-decoration: none;
  color: black;
}

.fontStyle {
  font: small-caps bold 17px/1 sans-serif;
}